[submodule "meshmode"]
	path = meshmode
	url = git@github.com:inducer/meshmode
[submodule "loopy"]
	path = loopy
	url = git@github.com:inducer/loopy
[submodule "grudge"]
	path = grudge
	url = git@github.com:inducer/grudge
[submodule "leap"]
	path = leap
	url = git@github.com:inducer/leap
[submodule "dagrt"]
	path = dagrt
	url = git@github.com:inducer/dagrt
