name: Makezip test

on:
  push:

jobs:
  build:
    name:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build modules.zip
      run: |
        ./install.sh
        source $HOME/miniforge3/bin/activate dgfem
        ./makezip.sh
    - name: Test modules.zip
      run: |
        source $HOME/miniforge3/bin/activate dgfem
        pip uninstall dagrt
        [[ $(python3 -c 'import dagrt; print(dagrt.__path__[0])') == *modules.zip* ]] || exit 1
