name: Makezip test

on:
  push:

jobs:
  build:
    name:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build modules.zip
      run: |
        [[ $(uname) == Linux ]] && sudo apt-get install -y openmpi-bin libopenmpi-dev grep
        ./install.sh --force-conda-install
        source $HOME/miniforge3/bin/activate dgfem
        ./makezip.sh
    - name: Test modules.zip
      run: |
        source $HOME/miniforge3/bin/activate dgfem
        # Uninstall dagrt to make sure it gets loaded from modules.zip
        pip uninstall --yes dagrt
        [[ $(python3 -c 'import dagrt; print(dagrt.__path__[0])') == *modules.zip* ]] || exit 1
