name: Makezip test

on:
  push:

jobs:
  build:
    name:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Build modules.zip
      run: |
        sudo apt install -y python3-venv
        python3 -m venv myenv
        wget
        source myenv/bin/activate
        ./makezip.sh
    - name: Test modules.zip
      run: |
        source myenv/bin/activate
        which python3
        pwd
        ls
        [[ $(python3 -c 'import dagrt; print(dagrt.__path__[0])') == *modules.zip* ]] || exit 1
