name: CI test

# Trigger the workflow on push and daily cron job
on:
  push:
  schedule:
  - cron:  '5 0 * * *'

jobs:
  shellcheck:
    # See https://github.com/koalaman/shellcheck/wiki
    # for explanations of ShellCheck error codes
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: ShellCheck
      run: |
        shellcheck -x $(find -name '*.sh')

  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Install prerequisites
      run: |
        [[ $(uname) == Linux ]] && sudo apt-get install -y openmpi-bin libopenmpi-dev
        [[ $(uname) == Darwin ]] && brew install openmpi
        ./install.sh
    - name: Version info
      run: |
        source miniforge3/bin/activate ceesd
        ./version.sh ./mirgecom/requirements.txt
        
        export CPATH=$PWD/miniforge3/envs/ceesd/include/
        export LIBRARY_PATH=$PWD/miniforge3/envs/ceesd/lib
        pip install -r requirements.txt.*
    - name: Run examples
      run: |
        source miniforge3/bin/activate ceesd
        ./mirgecom/examples/run_examples.sh ./mirgecom/examples

