name: CI test

# Trigger the workflow on push and daily cron job
on:
  push:
  schedule:
  - cron:  '5 0 * * *'

jobs:
  shellcheck:
    # See https://github.com/koalaman/shellcheck/wiki
    # for explanations of ShellCheck error codes
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: ShellCheck
      run: |
        shellcheck -x $(find -name '*.sh')

  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Install prerequisites
      run: |
        [[ $(uname) == Linux ]] && sudo apt-get install -y openmpi-bin libopenmpi-dev
        [[ $(uname) == Darwin ]] && brew install openmpi
        ./install.sh
    - name: Version info
      run: |
        source miniforge3/bin/activate ceesd
        ./version.sh --requirements-file=./mirgecom/requirements.txt --output-requirements=myreq.txt --output-conda-env=myenv.yml

        # Don't build pyopencl as that is difficult
        cat myreq.txt | sed /pyopencl/d > req.txt
        pip install -r req.txt
    - name: Reinstall emirge env with new requirements.txt
      run: |
        ./install.sh --env-name=reinstall_env --pip-pkgs=req.txt
    - name: Reinstall conda env with new env file
      run: |
        cat myenv.yml
        cat req.txt
        ./install.sh --conda-env=myenv.yml --pip-pkgs=req.txt
    - name: Run examples
      run: |
        source miniforge3/bin/activate ceesd
        ./mirgecom/examples/run_examples.sh ./mirgecom/examples

