name: CI test

# Trigger the workflow on push and daily cron job
on:
  push:
  schedule:
  - cron:  '5 0 * * *'

jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Install prerequisites
      run: |
        [[ $(uname) == Linux ]] && sudo apt-get install -y libpthread-stubs0-dev libc6-dev
        ./install.sh
    - name: Version info
      run: |
        source $HOME/miniforge3/bin/activate dgfem
        ./version.sh
    - name: Run wave-eager
      run: |
        source $HOME/miniforge3/bin/activate dgfem
        python mirgecom/examples/wave-eager.py
