name: CI test

# Trigger the workflow on push
on:
  push:
  schedule:
  - cron:  '5 0 * * *'

jobs:
  Linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Install prerequisites
      run: ./install.sh
    - name: Version info
      run: PATH=$HOME/miniforge3/bin:$PATH ./version.sh
    - name: Run wave-eager
      run: |
        export PATH=$HOME/miniforge3/bin:$PATH
        which conda
        echo $SHELL
        conda info --envs
        source $HOME/miniforge3/bin/activate dgfem
        which python
        conda install clinfo pocl pyopencl
        clinfo
        ./version.sh
        export OCL_ICD_VENDORS=$HOME/miniforge3/envs/dgfem/etc/OpenCL/vendors/
        ls $OCL_ICD_VENDORS
        cd mirgecom/examples && python ./wave-eager.py

  MacOS:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Install prerequisites
      run: ./install.sh
    - name: Version info
      run: PATH=$HOME/miniforge3/bin:$PATH ./version.sh
    - name: Run wave-eager
      run: |
        export PATH=$HOME/miniforge3/bin:$PATH
        export OCL_ICD_VENDORS=$HOME/miniforge3/etc/OpenCL/vendors/
        cd mirgecom/examples && python ./wave-eager.py
